* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-color: rgb(204, 204, 204);
}

header {
  background: url('https://cdn.discordapp.com/attachments/983028049270415420/1017792077930713168/unknown.png');
  width: 960px;
  height: 140px;
}

header h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: right;
  text-shadow: 5px 5px 7px #000000;
}

ul {
  background: #080808;
  padding: 10px;
}

ul li {
  background: #787878;
  padding: 5px;
  border: solid 2px white;
  display: inline-block;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}

section {
  padding: 5px;
  margin: 5px;
  border: double 4px black;
}

section article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}

article h2 {
  font-size: 95%;
  text-shadow: 5px 5px 7px #000000;
}

article p {
  font-style: italic;
}

footer {
  background: #F0F0F0;
}

footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}
